.header-img {
  background-image: url(../img/sample1.jpg);
  background-size: cover;
  background-position: center center;
}

nav.navbar-dark {
  background-color: rgba( 0, 0, 0, 0.55 );
}

a.navbar-brand:hover {
  color:gray;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: gray;
}

.tel {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.tel:hover {
  color: gray;
}

.hours {
  font-size: .9375rem;
  color: white;
}

.top-message {
  font-size: 3rem;
  font-weight: 700;
}

main {
}

@media (max-width: 991px) {
  a.navbar-brand {
    font-size: 25px;
  }

  a.nav-link {
    text-align: right;
    font-size: 20px;
  }
}